.thumbnail{
	border-radius:10px;
	cursor:default;
}

.thumbnail div.todo{
	cursor:pointer;
}
.thumbnail-img{
	height:90px;
}
.todo{
	height:300px;
}
img[alt="todolist"]{
	margin-top: 0;
	margin-bottom: 0;
	width: 90%;
	height: 100%;
}
img[alt="codiad"], img[alt="ftp"]{
	margin-top:5%;
	width:15%;
}

.modal{
	color: black;
}
.modal-lg{
	width:1100px;
}

input[type="file"]{
	margin-right: auto;
	margin-left: auto;
}

table th{
	text-align:center;
}

#todo_trash {
	position: absolute;
	background-color: #ff7a7a;
	width: 175px;
	height: 175px;
	border: 1px solid #ad0000;
	bottom: 20px;
}
#todo_trash .icon-trash {
	position: absolute;
	left: 18px;
	font-size: 100px;
	color: #8b0000;
	cursor: default;
}

.columns{
	height:700px;
}
.columns td{
	border-right: 1px solid #ddd;
}
.columns td:last-child{
	border-right: 0;
}

.note{
	height:150px;
	padding:10px;
	width:150px;
	position:absolute;
	overflow:hidden;
	cursor:move;

	font-size:15px;

	-moz-box-shadow:2px 2px 0 #DDDDDD;
	-webkit-box-shadow:2px 2px 0 #DDDDDD;
	box-shadow:2px 2px 0 #DDDDDD;
}

.yellow{
	background-color:#FDFB8C;
	border:1px solid #DEDC65;	
}

.blue{
	background-color:#A6E3FC;
	border:1px solid #75C5E7;	
}

.green{
	background-color:#A5F88B;
	border:1px solid #98E775;	
}

.deadline{
	bottom:10px;
	color:#666666;
	font-family:Arial,Verdana,sans-serif;
	font-size:12px;
	position:absolute;
	left:10px;
}
.author{
	bottom:10px;
	color:#666666;
	font-family:Arial,Verdana,sans-serif;
	font-size:12px;
	position:absolute;
	right:10px;
}

.group-panel input.btn {
	margin: 16px;
}
.group-panel form.no-margin {
	margin-bottom: -20px;
}

.no-project {
	margin-top: 15px;
}
.panel p{
	color: black;
}